{% load static %}
<html>
<body>
    <h2>Customers database</h2>
    <img src="{% static 'app/images/Customer.png' %}" width="10%"   alt="Customer logo"/><br/>
    <a href="add_newcustomer">New customer</a>
    <br>
    <br>
    </div>

    <div class="home">
      <button class="Listings"><a href="Listings">Listings</a></button>
      <button class="Unavailable"><a href="Unavailable">Unavailable</a></button>
      <button class="Rentals"><a href="Rentals">Rentals</a></button>
    </div>
    </div>
    <br/><br/>
    <br>
    <br>
    <br/><br/>
    <table border=1>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Password</th>
            <th>ConfirmPassword</th>
            <th>email</th>
            
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td> {{ cust.6 }} </td>
            <td>
                <a href="edit/{{cust.6}}"><button>Edit Customer</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.6}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.6}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
     
</body>
</html>
