<html>
<body>
    <h2>Details for {{cust.7}}</h2>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Car VIN</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>Car Make</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Model</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Year</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
         </tr>
         <tr>
            <th>Owner</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
    </table>
</body>
</html>
